.flights__navigation{
  display: flex;
  width: 1120px;
  min-width: 900px;
  background-color: #73d2f0;
  border-radius: 60px 60px 0 0;
  justify-content: space-around;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: .5s ease-in-out;
  font-family: 'Open Sans', sans-serif;


  & a {
    &:hover {
      width: 150%;
      }
  }
  
  & .navigation__btn{
    width: 100%;
    height: 60px;
    text-decoration: none;
    border-radius: 60px 60px 0 0;
    transition: .5s ease-in-out;
    border: none;
    outline: none;
    color: #ffffff;
    overflow: hidden;
    padding: 0;
    border: 0;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;

  
  &.selected {
    background-color: #ffffff;
    color: #1eb7ee;
  }
  }
}
